{% extends 'base.html'%}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/adminlogin.css'%}" type="text/css">
{% endblock css %}
{% block content %}
<div class="adminlogin">
    <div class="subadminlogin">
        <h1>Admin Login</h1>
        <form method="post" action="/authenticateadmin/">
            {% csrf_token %}
            <input style="margin-bottom:15px" type="text" class="form-control" placeholder="Username" name="username"
                required>
            <input type="password" class="form-control" placeholder="Password" name="password" required>
            <input style="display : block ; margin : auto ; margin-top:10px" type="submit" class="btn btn-success" name="">
        </form>
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
    </div>

</div>
{% endblock %}