{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/homepage.css'%}" type="text/css">
{% endblock css %}
{% block content %}
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Welcome</a>
    <!--<form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    -->

    <a class="btn btn-danger" href="/loginuser/"> login </a>
    <a class="btn btn-danger" href="{% url 'adminloginpage' %}"> adminlogin </a>
  </div>
</nav>

<div class="mainblock">
  <!-- <div class="container-fluid"> -->
  <div class="container">
    <h1>Sign Up !</h1>
    <form method="post" action="/signupuser/">
      {% csrf_token %}
      <input class="form-control" placeholder="username" type="text" name="username" required>
      <input class="form-control" placeholder="password" type="password" name="password" required>
      <input class="form-control" placeholder="phoneno" type="text" name="phoneno" required>
      <input class="btn btn-success" type="submit" name="">
    </form>
    <div class="message">
      {% for message in messages %}
      <p>{{message}}</p>
      {% endfor %}
    </div>
  </div>
  <!-- </div> -->
</div>

{% endblock %}