{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/userlogin.css' %}" type="text/css">
{% endblock css %}
{% block content %}

<!-- <div class="container"> -->
    <!-- <div  style="box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.2);width : 400px; ; background-color:orange; margin-top:250px; padding:20px;"> -->
    <div class="userlog" style="">
        <h1 style=" text-align:  center ; color : white ; ">Login</h1>
        <form method="post" action="/customer/authenticate/">
            {% csrf_token %}
            <input style="margin-bottom:15px;" type="text" class="form-control" name="username" placeholder="Username"
                required>
            <input type="password" class="form-control" name="password" placeholder="Password" required>
            <input type="submit" class="btn btn-success" style="display:block;margin:auto; margin-top:10px;" name="">
        </form>
        {%for message in messages %}
        <p style="padding:5px;text-align : center">{{message}}</p>
        {% endfor %}
    </div>
<!-- </div> -->

{% endblock %}